// Japshirt Theme Front
// -------------------
//
// Table of Content
//
// 01 - Section Header
// 02 - Headings
// 03 - Paragraphs
// 04 - About Section
// 05 - Instagram Section
// 06 - Category Section
// 07 - Spreadshop Section
// 08 - Contact Section

body {
	line-height: 28px;
}

p {
	line-height: 28px;
	margin-bottom: 28px;
}

/* Baseline Grid on / off */
.off-canvas-content {
	// background-image: url("../images/baseline-grid.png");
	background: url('../images/texturetastic_gray.png') top left;
}

// 01 - Section header
.about,
.categories,
.spreadshop,
.contact {

	.banner-stroke {
		display: table;
		height: 56px;
		width: 280px;
		margin: 0 auto 56px auto;
	}
}

.categories,
.contact {
	padding: 0;
}

// 02 - Headings
.categories h2,
.spreadshop h2,
.contact h2 {
	font-size: 70px;
	line-height: 84px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0px;
}

.categories h2,
.contact h2 {
	color: #FFFFFF;
}

// 03 - Paragraphs
p.headline-feature {

	@include breakpoint(small) {
		@include grid-column(12);
	}

	@include breakpoint(medium) {
		@include grid-column(12);
	}

	@include breakpoint(large) {
		@include grid-column(8);
	}

	float: none !important;
	margin: 0 auto 56px auto;
	font-size: 18px;
	text-align: center;
}

.categories p.headline-feature,
.contact p {
	font-family: "klinic_slablight";
	color: #FFFFFF;
}

// 00 - Header Hero
#front-hero {
	@include breakpoint(small) {
		background: url('../images/bg-header.jpg') center center;
		background-size: cover;
		background-position: center;
		padding: rem-calc(28px) 0 rem-calc(28px) 0;
		margin: 0;
		height: rem-calc(672);
		position: relative;
		text-align: left;
	}

	@include breakpoint(medium) {
		background: url('../images/bg-header.jpg') center bottom;
		background-size: cover;
		background-position: center;
		height: rem-calc(672);
		margin: 0;
	}

	.logo-container {
		background: url('../images/logo.png') center center no-repeat;
		display: table;
		margin: 84px auto 0 auto;
		height: 476px;
		width: 100%;

		a {
			display: table;
			margin: 300px auto 0 auto;
			color: #FFFFFF;
			font-family: $body-font-family;
			font-size: 15px;
			line-height: 35px;
			text-transform: uppercase;

			border-bottom: 1px solid $gray;
			border-top: 1px solid $gray;

			&:hover {
				color: $primary-color;

				border-bottom: 1px solid $primary-color;
				border-top: 1px solid $primary-color;
			}

			span { padding: 0 10px; }
		}
	}

	img.logo {
		display: table;
		margin: 84px auto 0 auto;
		height: 476px;
	}
}

// 04 - About Section
.about {
	padding-top: 0;

	.color-segment { margin-bottom: 22px; }

	h1 {
		@include breakpoint(small) {
			font-size: 80px;
			line-height: 84px;
		}

		@include breakpoint(medium) {
			font-size: 112px;
		}

		line-height: 112px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: -1px;
		margin-bottom: 0;


	}

	h2 {
		display: table;
		font-size: rem-calc(36px);
		line-height: rem-calc(55px);
		letter-spacing: 10px;
		text-align: center;
		border-bottom: 1px solid #bababa;
		margin: 0 auto;
		padding-left: 8px;
	}

	.humblebrag {
		margin-bottom: 28px;

		.for {
			display: table;
			font-size: 24px;
			line-height: 28px;
			margin: 0 auto;

			.dash.left { float: left;}
			.dash.right { float: right;}

			.dash {
				display: block;
				height: 1px;
				width: 50px;
				border-bottom: 1px solid #bababa;
				margin:
					rem-calc(14)
					rem-calc(15)
					rem-calc(0)
					rem-calc(15);
			}
		}

		.awesome-people {
			display: table;
			font-size: rem-calc(28);
			line-height: rem-calc(28);
			text-transform: uppercase;
			margin: 0 auto;
		}

		.like-you {
			display: table;
			font-size: rem-calc(16);
			line-height: rem-calc(28);
			text-transform: uppercase;
			margin: 0 auto;

			i {
				color: $primary-color;
			}
		}
	}
}

// 05 - Instagram Section
.instagram {

}

// 06 - Categories Section
.categories {
	background: url('../images/bg-category.jpg') center center;
	// background: rgba(0,0,0,0.1);
	background-size: cover;
	background-position: center;

	.banner-stroke {
		background: url('../images/h2-banner-categories.svg') center top no-repeat;
	}

	.category-feature {
		.shield {
			display: table;
			margin: 0 auto 28px auto;

			img {
				height: 364px;
				margin-bottom: rem-calc(28);
			}

			.cat-banner-kids {
				background: url('../images/cat-banner-kids.svg') center top no-repeat;
				width: 168px;
				height: 364px;
			}

			.cat-banner-logo {
				background: url('../images/cat-banner-logo.svg') center top no-repeat;
				width: 168px;
				height: 364px;
			}

			.cat-banner-geek {
				background: url('../images/cat-banner-geek.svg') center top no-repeat;
				width: 168px;
				height: 364px;
			}
		}

		span {
			display: block;
			margin-bottom: 0;
			color: #FFFFFF;
			font-family: klinic_slablight;
			font-size: 18px;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 2px;
		}

		p {
			color: #FFFFFF;
			padding: 0 rem-calc(25);
			font-family: klinic_slablight;
			font-size: rem-calc(18);
			text-align: center;
		}
	}
}

// 07 - Speadshop Section
.spreadshop {
	// background: rgba(0,0,0,0.2);

	.banner-stroke {
		background: url('../images/h2-banner-spreadshop.svg') center top no-repeat;
	}

	.category-pages {
		display: table;
		margin: 0 auto;

		button {
			@include breakpoint(small) { width: 100%; }
			@include breakpoint(medium) { width: auto; }
		}

		button:last-child {
			margin-right: 0;
		}
	}
}

// 08 - Contact Section
.contact {
	background: url('../images/bg-contact.jpg') center top no-repeat;
	// background: rgba(0,0,0,0.2);
	-webkit-background-size: cover;
	background-size: cover;

	.banner-stroke {
		background: url('../images/h2-banner-contact.svg') center top no-repeat;
	}

	.end {
		float: none !important;
	}

	.wpcf7 .wpcf7-form .wpcf7-form-control-wrap{
		@include breakpoint(small) { width: 80%; }
		@include breakpoint(medium) { width: 90%; }
		@include breakpoint(large) { width: 90%; }
	}
}
