body {
	line-height: 28px;
}

p {
	line-height: 28px;
	margin-bottom: 28px;
}

// Page header
.off-canvas-content {
	background-image: url("../images/baseline-grid.png");
}

// About
.about {
	h1 {
		font-size: rem-calc(100px);
		line-height: 112px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0px;
		margin-bottom: 0;
	}

	h2 {
		display: table;
		font-size: rem-calc(36px);
		line-height: rem-calc(55px);
		letter-spacing: 10px;
		text-align: center;
		border-bottom: 1px solid #bababa;
		margin: 0 auto;
		padding-left: 8px;
	}

	.humblebrag {
		margin-bottom: 28px;

		.for {
			display: table;
			font-size: 24px;
			line-height: 28px;
			margin: 0 auto;

			.dash.left { float: left;}
			.dash.right { float: right;}

			.dash {
				display: block;
				height: 1px;
				width: 50px;
				border-bottom: 1px solid #bababa;
				margin: 14px 15px 0 15px;
			}
		}

		.awesome-people {
			display: table;
			font-size: 28px;
			line-height: 28px;
			text-transform: uppercase;
			margin: 0 auto;
		}

		.like-you {
			display: table;
			font-size: 16px;
			line-height: 28px;
			text-transform: uppercase;
			margin: 0 auto;

			i {
				color: $primary-color;
			}
		}
	}
}

// Instagram
.instagram-plugin-container {
	//margin-bottom: 112px;
}

// Headings
.categories h2,
.spreadshop h2,
   .contact h2 {
	font-size: 70px;
	line-height: 84px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0px;
}

.headline-feature {
	@include grid-column(6);

	float: none !important;
	margin: 0 auto;

	font-size: 18px;
	text-align: center;
	margin-bottom: 28px;
}


// Categories
.categories {
	padding-top: 112px;

	.banner-stroke {
		display: table;
		background: url('../images/h2-banner-categories.svg') center top no-repeat;
		height: 56px;
		width: 280px;
		margin: 0 auto;
	}
}

// Spreadshop
.spreadshop {
	padding-top: 112px;

	.banner-stroke {
		display: table;
		background: url('../images/h2-banner-spreadshop.svg') center top no-repeat;
		height: 56px;
		width: 280px;
		margin: 0 auto;
	}
}


// Section divider
.section-divider {
	@include grid-row();

	hr {
		@include grid-column(12);
		@extend .dotted;
		box-sizing: border-box;
	}
}
