body {
	line-height: 28px;

}

p {
	line-height: 28px;
	margin-bottom: 28px;
}

// Page header
.off-canvas-content {
	background-image: url("../images/baseline-grid.png");
}

// Section header
.about,
.categories,
.spreadshop,
.contact {

	.banner-stroke {
		display: table;
		height: 56px;
		width: 280px;
		margin: 0 auto;
	}
}

.categories,
.contact {
	padding: 112px 0;
}

// Headings
.categories h2,
.spreadshop h2,
.contact h2 {
	font-size: 70px;
	line-height: 84px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0px;
}

.categories h2,
.contact h2 {
	color: #FFFFFF;
}

// Paragraphs
p.headline-feature {
	@include grid-column(6);

	float: none !important;
	margin: 0 auto 56px auto;
	font-size: 18px;
	text-align: center;
}

.categories p.headline-feature,
.contact p {
	font-family: "klinic_slablight";
	color: #FFFFFF;
}

// About
.about {
	background: url('../images/texturetastic_gray.png') top left;
	padding-top: 0;

	.color-segment {
		margin-bottom: 22px;
	}

	h1 {
		font-size: rem-calc(100px);
		line-height: 112px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0px;
		margin-bottom: 0;
	}

	h2 {
		display: table;
		font-size: rem-calc(36px);
		line-height: rem-calc(55px);
		letter-spacing: 10px;
		text-align: center;
		border-bottom: 1px solid #bababa;
		margin: 0 auto;
		padding-left: 8px;
	}

	.humblebrag {
		margin-bottom: 28px;

		.for {
			display: table;
			font-size: 24px;
			line-height: 28px;
			margin: 0 auto;

			.dash.left { float: left;}
			.dash.right { float: right;}

			.dash {
				display: block;
				height: 1px;
				width: 50px;
				border-bottom: 1px solid #bababa;
				margin: 14px 15px 0 15px;
			}
		}

		.awesome-people {
			display: table;
			font-size: 28px;
			line-height: 28px;
			text-transform: uppercase;
			margin: 0 auto;
		}

		.like-you {
			display: table;
			font-size: 16px;
			line-height: 28px;
			text-transform: uppercase;
			margin: 0 auto;

			i {
				color: $primary-color;
			}
		}
	}
}

// Instagram
.instagram {
	background: url('../images/texturetastic_gray.png') top left;
}

// Categories
.categories {
	background: url('../images/bg-category.jpeg') center center;
	background-size: cover;
	background-position: center;

	.banner-stroke {
		background: url('../images/h2-banner-categories.svg') center top no-repeat;
	}

	.category-feature {
		.shield {
			display: table;
			margin: 0 auto;

			img {
				height: 196px;
				margin-bottom: 28px;
			}

			span {
				display: block;
				margin-bottom: 0;
				color: #FFFFFF;
				font-family: klinic_slablight;
				font-size: 20px;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
		}

		p {
			color: #FFFFFF;
			padding: 0 25px;
			font-family: klinic_slablight;
			font-size: 18px;
			text-align: center;
		}
	}
}

// Spreadshop
.spreadshop {
	background: url('../images/texturetastic_gray.png') top left;

	.banner-stroke {
		background: url('../images/h2-banner-spreadshop.svg') center top no-repeat;
	}

	.category-pages {
		display: table;
		margin: 0 auto;

		button:last-child {
			margin-right: 0;
		}
	}
}

// Contact
.contact {
	background: url('../images/bg-contact-2.jpg') top left;
	-webkit-background-size: cover;
	background-size: cover;

	.banner-stroke {
		background: url('../images/h2-banner-contact.svg') center top no-repeat;
	}

	.end {
		float: none !important;
	}
}

// Section divider
.section-divider {
	@include grid-row();

	hr {
		@include grid-column(12);
		@extend .dotted;
		box-sizing: border-box;
	}
}
