//  Japshirt Theme "Shop Page Full Width"
// --------------------------------------
//
// Table of Content
//
// 01 - Shop Title
// 02 - Shop Content


// 01 - Shop Title
.shop-content {
	padding-top: 84px;
	padding-bottom: 28px;

	@include grid-row(12) {

		header {

			@include breakpoint(small) {
				@include grid-column(12);
			}

			@include breakpoint(medium) {
				@include grid-column(4);
				@include grid-column-position(center);
			}

			h1 {
				padding-bottom: 28px;
				margin-bottom: 28px;
				font-size: 70px;
				text-transform: uppercase;
				text-align: center;
				border-bottom: 1px solid $gray;
			}

		}

		.shop-entry-content {

			p {
				@include breakpoint(small) {
					@include grid-column(12);
				}

				@include breakpoint(medium) {
					@include grid-column(6);
					@include grid-column-position(center);
				}

				text-align: center;
			}
		}
	}
}

// 00 - Kids
#kids-hero {
	@include breakpoint(small) {
		background: url('../images/bg-header-kids.jpg') center center;
		background-size: cover;
		background-position: center;
		padding: rem-calc(28px) 0 rem-calc(28px) 0;
		margin: 0;
		height: rem-calc(672);
		position: relative;
		text-align: left;
	}

	@include breakpoint(medium) {
		background: url('../images/bg-header-kids2.jpg') center bottom;
		background-size: cover;
		background-position: center;
		height: rem-calc(672);
		margin: 0;
	}

	.logo-container {
		background: url('../images/logo.png') center center no-repeat;
		display: table;
		margin: 84px auto 0 auto;
		height: 476px;
		width: 100%;

		a {
			display: table;
			margin: 300px auto 0 auto;
			color: #FFFFFF;
			font-family: $body-font-family;
			font-size: 15px;
			line-height: 35px;
			text-transform: uppercase;

			border-bottom: 1px solid $gray;
			border-top: 1px solid $gray;

			&:hover {
				color: $primary-color;

				border-bottom: 1px solid $primary-color;
				border-top: 1px solid $primary-color;
			}

			span { padding: 0 10px; }
		}
	}

	img.logo {
		display: table;
		margin: 84px auto 0 auto;
		height: 476px;
	}
}
