.dotted {
	width: 100%;
	border-style: dashed;
	margin: 5px;
}

hr.bottom-line.white {
	position: absolute;
	bottom: 0;
	width: 100%;
	max-width: 100%;
	margin: 0 0 5px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.color-segment {
	height: 5px;
	margin-bottom: 107px;

	&.top { border-bottom: 1px dashed #bababa; }

	&.bottom { border-top: 1px dashed #bababa; }

	.segment {
		display: table;
		background: $primary-color;
		height: 5px;
		width: 280px;
		margin: 0 auto;
	}
}

.btn-divider {
	overflow: hidden;
	margin-bottom: 56px;

	.button-container {
		@include grid-column(4);

		button {
			display: table;
			margin: 0 auto;
		}
	}

	.dash {
		display: block;
		height: 1px;
		border-bottom: 1px solid #bababa;
		margin: 27px 0;
	}

	.dash.left {
		@include grid-column(4);
		float: left;
	}
	.dash.right {
		@include grid-column(4);
		float: right;
	}
}


