// Japshirt Theme Front
// -------------------
//
// Table of Content
//
// -

.dotted {
	width: 100%;
	border-style: dashed;
	margin: 5px;
}

hr.solid {
	width: 100%;
	margin-bottom: 28px;
	border-style: solid;
}

hr.solid-cat {
	padding: 0 20px;
	margin: 13px 25px 14px 25px;
	border-style: solid;
}

hr.bottom-line.white {
	position: absolute;
	bottom: 0;
	width: 100%;
	max-width: 100%;
	margin: 0 0 5px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.color-segment {
	&.top {
		margin-bottom: 106px;
	}

	&.bottom {
		margin-top: 106px;
	}

	.segment {
		display: table;
		background: $primary-color;
		height: 5px;
		width: 280px;
		margin: 0 auto;
	}

	.solid {
		height: 0px;
		border-bottom: 1px solid #bababa;
		max-width: 100%;
		margin: 0;
		position: relative;

	}
}

.btn-divider {
	overflow: hidden;
	margin-bottom: 56px;

	.button-container {
		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(4);
		}


		button {
			display: table;
			float: none;
			margin: 0 auto;
		}
	}

	.dash {
		display: block;
		height: 1px;
		border-bottom: 1px solid #bababa;
		margin: 27px 0;
	}

	.dash.left {
		@include breakpoint(small) { display: none; }
		@include breakpoint(medium) {
			display: block;
			@include grid-column(4);
		}

		@include grid-column(4);
		float: left;
	}
	.dash.right {
		@include breakpoint(small) { display: none; }
		@include breakpoint(medium) {
			display: block;
			@include grid-column(4);
		 }

		@include grid-column(4);
		float: right;
	}
}


