#masthead {
	background-color: $primary-color;

	@include breakpoint(small) {
		background: url('../images/header-bg-tuntra.jpg') center center;
		background-size: cover;
		background-position: center;
		padding: rem-calc(24px) 0 rem-calc(24px) 0;
		margin: 0;
		height: 560px;
		position: relative;
		text-align: left;
	}

	@include breakpoint(medium) {
		background: url('../images/header-bg-tuntra.jpg') center bottom;
		background-size: cover;
		background-position: center;
		height: rem-calc(560);
		margin: 0;
	}

	.header-intro {
		img.logo {
			display: table;
			margin: 56px auto 0 auto;
			height: 392px;
		}
	}

}