/* ---------------------- *
 * Navigation breakpoints *
 * ---------------------- *
 */

.main-navigation {
	@include show-for(medium);
}

.title-bar {
	@include hide-for(medium);
}

/* Fix issues for specific screen size */
@media only screen and (min-width: 1024px) and (max-width: 1146px) {
	.main-navigation {

		.top-bar-social {
			margin-top: 0;
		}
	}
}

/* ----------- *
 * Mobile menu *
 * ----------- *
 */

.off-canvas {
	background: #121212;
	ul#menu-my-menu-mobile {
		height: 100vh;
		padding: 1rem;

		.menu-item:first-child a {
			border-top: 1px solid #FFFFFF;
		}

		a {
			color: #FFFFFF;
			font-family: $header-font-family;
			font-size: rem-calc(20px);
			text-transform: lowercase;
			letter-spacing: 2px;
			border-left: 1px solid #FFFFFF;
			border-right: 1px solid #FFFFFF;
			border-bottom: 1px solid #FFFFFF;
		}
	}
}

.title-bar {
	height: 56px;
	color: #1E1E1E;
	line-height: 56px;
	padding: 0 0 0 15px;
	background: transparent;
	margin: 0 15px;

	.menu-icon::after {
		background: $sun;

		-webkit-box-shadow: 0 7px 0 $flamingo, 0 14px 0 $curiousBlue;
		   -moz-box-shadow: 0 7px 0 $flamingo, 0 14px 0 $curiousBlue;
		        box-shadow: 0 7px 0 $flamingo, 0 14px 0 $curiousBlue;
	}
}

.title-bar-title {
	a {
		font-family: $header-font-family;
		font-size: rem-calc(20px);
		text-transform: lowercase;
		letter-spacing: 2px;
		color: #FFFFFF;
	}
}
/* ----------------------- *
 * Tablet and desktop menu *
 * ----------------------- *
 */
.top-bar, .top-bar ul {
	background-color: transparent;
}

.top-bar {
	display: table;
	margin: 0 auto;

	.top-bar-right { float: left; }

	.top-bar-social-tablet {
		float: left;

		.menu a.icon-facebook:hover:not(.button) { background: $curiousBlue; }
		.menu a.icon-instagram:hover:not(.button) { background: $sun; }
		.menu a.icon-pinterest:hover:not(.button) { background: $flamingo; }

		ul li:first-child a {
			// border-left: 1px solid rgba(255, 255, 255, 0.5)
		}

		ul li.menu-item-social {
			a {
				padding: 0px;
			}

			i {
				margin-right: 0;
			}
		}
	}

	.top-bar-social,
	.top-bar-social-tablet {
		i {
			display: block;
			float: left;
			width: 56px;
			height: 56px;
			color: #FFFFFF;
			line-height: 54px;
			text-align: center;
		}
	}

	.menu .home a {
		overflow: hidden;
		width: 56px;
		height: 56px;
		color: #FFFFFF;
		text-align: center;
		border-left: 1px solid #393939;
		padding: 0;

		i {
			background: url('../images/icon-home.svg') center center no-repeat;
			width: 112px;
			height: 56px;
			margin-right: 0;
			// line-height: 54px;
			vertical-align: baseline;
		}

		&:hover i {
			background-position: -56px 0;
		}
	}

	.menu a {
		height: 56px;
		line-height: 54px;
		padding-top: 0;
		padding-bottom: 0;

		border-right: 1px solid #393939;

		&:hover:not(.button) {
			background: #393939;
		}
	}

	.menu a,
	.title-bar-title a {
		font-family: 'franchise', Helvetica Neue, Helvetica, Arial, sans-serif;
		font-size: rem-calc(20px);
		text-transform: lowercase;
		letter-spacing: 2px;
		color: #FFFFFF;
	}

	/* Dropdown Menu *
	 * ------------- *
	 */
	.dropdown.menu .submenu {
		background-color: transparent;
		color: #e6e6e6;
		border: 0;

		a {
			border-top: none;
			border-left: 1px solid #393939;
		}
	}

	.dropdown.menu .has-submenu.is-down-arrow a {
		padding-right: 1rem;
	}
	.dropdown.menu .has-submenu.is-down-arrow > a::after {
		border: 0;
	}

	.is-dropdown-submenu-parent.is-down-arrow > a::after {
		top: 20px;
		margin-right: 4px;
		border-color: #FFFFFF transparent transparent;
	}

	.is-dropdown-submenu > li {
		background: $codGray;
		width: 179px;

		border-bottom: 1px solid #393939;

	}
}
