/* Navigation breakpoints
 * ----------------------
 */

.main-navigation {
  @include show-for(medium);
}

.title-bar {
  @include hide-for(medium);
}

/* Fix issues for specific screen size */
@media only screen and (min-width: 1024px) and (max-width: 1146px) {
  .main-navigation {
    width: 1024px;

    .top-bar-social {
      margin-top: 0;
    }
  }
}

/* Mobile menu
 * -----------
 */

.off-canvas {
  background: #121212;
  ul#menu-my-menu-mobile {
    height: 100vh;
    padding: 1rem;

    .menu-item:first-child a { border-top: 1px solid #FFFFFF; }

    a{
      color: #FFFFFF;
      font-family: 'franchise', Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: rem-calc(20px);
      text-transform: lowercase;
      letter-spacing: 2px;
      border-left: 1px solid #FFFFFF;
      border-right: 1px solid #FFFFFF;
      border-bottom: 1px solid #FFFFFF;
    }
  }
}

.title-bar {
  height: 48px;
  line-height: 44px;
  padding: 0 0 0 15px;
  background: transparent;
  border: 1px solid #fff;
  margin: 0 15px;
}

.title-bar-title {
  a {
    font-family: 'franchise', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: rem-calc(20px);
    text-transform: lowercase;
    letter-spacing: 2px;
    color: #FFFFFF;
  }
}

/* Tablet and desktop menu
 * -----------------------
 */
.is-dropdown-submenu-parent.is-down-arrow > a::after {
  top: 18px;
  margin-right: 4px;
  border-color: #FFFFFF transparent transparent;
}

.top-bar, .top-bar ul {
  background-color: transparent;
}
.top-bar {
  display: table;
  margin: 0 auto;

  .top-bar-right {
    float: left;
  }

  .top-bar-social {
    float: left;

    .menu-item-social {
      display: block;
      float: left;
      margin-left: 20px;

      a {
        overflow: hidden;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        padding: 0 20px 0 0;
        height: 47px;
      }

      a span {
        position: relative;
        display: inline-block;
        vertical-align: baseline;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
      }

      a span::before {
        position: absolute;
        top: 100%;
        content: attr(data-hover);
        font-weight: 700;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }

      a:hover span,
      a:focus span {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
      }
    }

    i { margin-right: 15px; }
  }

  .top-bar-social-tablet {
    float: left;
    margin-left: 20px;

    ul li:first-child a { border-left: 1px solid rgba(255, 255, 255, 0.5) }

    ul li.menu-item-social {
      a { padding: 0px; }

      i { margin-right: 0; }
    }
  }

  .top-bar-social,
  .top-bar-social-tablet {
    i {
      background: rgba(255, 255, 255, 0.2);
      display: block;
      float: left;
      width: 48px;
      height: 48px;
      line-height: 44px;
      text-align: center;
    }
  }

  .menu .home a {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0px;

    i {
      line-height: 44px;
      vertical-align: baseline;
      text-align: center;
      width: 48px;
      margin-right: 0;
    }
  }

  .menu .social a {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }

  .menu a {
    height: 48px;
    line-height: 44px;
    color: #e6e6e6;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    &:hover:not(.button) {
      background: rgba(255, 255, 255, 0.3);
    }
  }

  .menu a,
  .title-bar-title a {
    font-family: 'franchise', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: rem-calc(20px);
    text-transform: lowercase;
    letter-spacing: 2px;
    color: #FFFFFF;
  }

  .menu>li:not(.menu-text)>a { /* padding: 1rem;*/ }
  .menu li:not(:last-child) { /* border-right: 1px solid #4e4e4e; */ }

  .dropdown.menu .submenu {
    background-color: #121212;
    color: #e6e6e6;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow>a::after { border: 0; }
}
