/* Navigation breakpoints */

.main-navigation {
  @include show-for(medium);
}

.title-bar {
  @include hide-for(medium);
}

/* Mobile menu */
.off-canvas {
  ul#menu-main-menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

/* Tablet and desktop menu */
.top-bar {
  display: table;
  margin: 0 auto;

  .top-bar-right {
    float: left;
  }

  .menu .home a {
    font-size: 1rem;
    color: #B9B9B9;
  }

  .menu a {
    height: 48px;
    line-height: 48px;
    color: #e6e6e6;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'franchise', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: rem-calc(20);
    text-transform: lowercase;
    letter-spacing: 2px;

    &:hover:not(.button) {
      background-color: $primary-color;
    }
  }

  .menu>li:not(.menu-text)>a { /* padding: 1rem;*/ }
  .menu li:not(:last-child) { border-right: 1px solid #4e4e4e; }

  .dropdown.menu .submenu {
    background-color: #121212;
    color: #e6e6e6;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow>a::after { border: 0; }
}
